body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
header h1 {
    margin: 0;
}
section {
    padding: 20px;
    text-align: center;
}
section h2 {
    color: #333;
}
section p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    max-width: 700px;
    margin: 0 auto;
}
.team {
    margin-top: 30px;
}
.team h3 {
    color: #333;
}
.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.team-member {
    width: 200px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.team-member img {
    width: 100%;
    border-radius: 50%;
}
.team-member h4 {
    margin-top: 10px;
} 

img {
    text-align: center;
    align-items: center;
} 

img:hover { 
    transition: 1s; 
    transform:skew(-25deg); 
} 

div [class*="featured"] {
    background-color: yellow;
} 

#p1 { border: 1px solid black; border-radius: 15px; } 
#p2 { border: 1px solid black; border-radius: 15px 50px; } 
#p3 { border: 1px solid black; border-radius: 15px 50px 30px; } 
#p4 { border: 1px solid black; border-radius: 15px 50px 30px 5px;} 
